# Dependencias`nnode_modules/`nbackend/vendor/`n`n# Entorno (Secretos)`n.env`n.env.local`n.env.*.local`nbackend/.env`n`n# Next.js Build`n.next/`nout/`nbuild/`n`n# Laravel Framework & Cache`nbackend/storage/*.key`nbackend/storage/framework/cache/data/*`nbackend/storage/framework/sessions/*`nbackend/storage/framework/views/*`nbackend/storage/logs/*`nbackend/public/storage`n`n# Base de Datos`nbackend/database/*.sqlite`n`n# Archivos de Sistema`n.DS_Store`nThumbs.db`n.vscode/`n.idea/`n*.log`nnpm-debug.log*`nyarn-debug.log*`nyarn-error.log*`npnpm-debug.log*
node_modules
