APP_NAME=NexUs`nAPP_ENV=local`nAPP_KEY=`nAPP_DEBUG=true`nAPP_TIMEZONE=UTC`nAPP_URL=http://localhost:8000`n`nLOG_CHANNEL=stack`nLOG_STACK=single`n`nDB_CONNECTION=pgsql`nDB_HOST=127.0.0.1`nDB_PORT=5432`nDB_DATABASE=nexus_db`nDB_USERNAME=postgres`nDB_PASSWORD=`n`nSESSION_DRIVER=database`nSESSION_LIFETIME=120`n`nFILESYSTEM_DISK=public`n`nBCRYPT_ROUNDS=12
